<meta charset="UTF-8">

<title><%= title %></title>

<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<meta name="author" content="Heath Anderson">

<link rel="alternate" type="application/rss+xml" title="Example Blog Feed" href="<%-url%>/rss.xml">

<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="<%-root%>stylesheets/iphone.css" type="text/css" />

<link href="<%-root%>stylesheets/prism.css" rel="stylesheet" />


