<div id="header">
  <div class="branding">
    <a title="Harp Example Blog" href="<%-root%>">Harp Example Blog.</a>
  </div>

  <div>
    <ul>
      <li><a href="<%-root%>about.html">About</a></li>
      <li><a href="<%-root%>posts/">Blog</a></li>
      <li><a href="https://github.com/handerson/harp-blog-example">Github</a></li>
		</ul>
  </div>
</div>
