<% var posts = Object.keys(public.posts._data);%>

<nav class="pagination"> 
    <% var currentIndex = posts.indexOf(path); %>

    <% if(posts[0] != path) { %>
        <% currentIndex = posts.indexOf(path); %>
        <a href="<%-root%>posts/<%=posts[currentIndex-1]%>" role="button" >Prev</a>
    <% } else { %>
        <a role="button" class="outline">Prev</a>
    <% } %>

    <% if(posts[posts.length-1] != path){ %>
        <a href="<%-root%>posts/<%=posts[currentIndex+1]%>" role="button">Next</a>
    <% } else { %>
        <a role="button" class="outline">Next</a>
    <% } %>
</nav>